*,body {
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 3px;
    box-sizing: border-box;
}

nav > ul {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

nav > ul {
    list-style-type: none;
}

nav > ul >li {
    height: 40px;
    width: 40px;
    background: #000;
    box-sizing: border-box;
    border-radius: 50%;
}

nav > ul >li > a {
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 50%;
    padding: 10px 0;
    transform: translateX(-50%);
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 60px;
    box-sizing: border-box;
    position: relative;
}

.first {
    background-image: url('../img/bg-dp-flipflip.jpg');
}

.first h2,
.first p.intro {
    position :relative;
    width: 40%
}

.first h1 {
    position: absolute;
    font-size: 100px;
    -webkit-animation: appear 1s; /* Safari 4.0 - 8.0 */
    animation: appear 4s;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%,-70%);
    text-align: center;
}

.first h2 {
    font-size: 40px;
    animation: slideLeftToRight 4s;
    left: 60%;
}

.first p.intro {
    font-size: 20px;
    animation: slideLeftToRight 6s;
    padding-top: 30px;
    left: 60%;
}

.img-wrapper {
    position: absolute;
    animation: slideTopToBottom 6s;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    height: 320px;
    width: 320px;
}

.img-wrapper > img {
    height: 100%;
    width: 100%;
    animation: createBorderCurve 6s;
    border-radius: 50%;
}

@keyframes appear {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes createBorderCurve {
    0% {border-radius: 0;}
    50% {border-radius: 25%}
    100% {border-radius: 50;}
}

@keyframes slideTopToBottom {
    0% {top: 0; opacity: 0;}
    50% {top: 0; opacity: 0;}
    100% {top: 60%; opacity: 1;}
}

@keyframes slideLeftToRight {
    0% {left: 0; opacity: 0;}
    50% {left: 0; opacity: 0;}
    100% {left: 60%; opacity: 1;}
}


.second .section-heading {
    float: left;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
}
.second .project-section {
    float: right;
    width: 60%;
}

.project-section .project-list>li {
    padding: 20px 0;
}

.project-section .project-list li h4 {
    font-size: 30px;
}

.project-section .project-list .project-desc {
    padding: 20px 0 0 20px;
    font-size: 25px;
}

.project-section .project-list .project-desc ul {
    padding: 10px 0 10px 20px;
}


